.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0;
  width: 100vw;
  min-height: 95vh;
  margin: 0;
  padding: 0;
}

.img {
  max-height: 85vh;
  margin: 0;
  padding: 2em;
  object-fit: contain;
}

.infoContainer {
  margin: 0;
  padding: 0;
}

.info {
  max-width: 14em;
}

@media (min-width: 65em) {
  .container {
    flex-direction: row;
  }

  .img {
    flex-shrink: 4;
  }

  .infoContainer {
    flex-shrink: 1;
  }
}

@media (min-width: 75em) {
  .container {
    flex-direction: row;
  }

  .img {
    flex-shrink: 2;
  }

  .infoContainer {
    flex-shrink: 1;
  }
}
